.switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 27px;
    background-color: #2c2c2c;
    color: #000;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    margin-top: 0;
}

.switch.false,
.switch.true {
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
}

.switch.false:before,
.switch.false:after {
    -webkit-transition: 0.6s;
    transition: all 0.6s;
}

.switch.true:before,
.switch.true:after {
    -webkit-transition: 0.6s;
    transition: all 0.6s;
}

.switch.false:before,
.switch.true:before {
    display: block;
    position: absolute;
    content: '';
    height: 29px;
    width: 29px;
    left: 3px;
    top: 4px;
    background-color: #f2c74e;
    -webkit-transition: 0.6s;
    transition: all 0.6s;
    -webkit-transition-delay: 0.01s;
    transition-delay: 0.01s;
    -moz-box-shadow: inset -8px -8px 6px -6px #c7960f;
    -webkit-box-shadow: inset -8px -8px 6px -6px #c7960f;
    border-radius: 50%;
    box-shadow: inset -8px -8px 6px -6px #c7960f;
}

.switch.false:after {
    display: block;
    position: absolute;
    content: '🌞';
    left: 7.5px;
    top: 8px;
}

.switch.true:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
}

.switch.true:after {
    position: absolute;
    content: '🌜';
    left: 47px;
    top: 8px;
}
