div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1vh 1vw;
}

.Dark {
    color: #e5e5e5;
    background-color: #202020;
}
